/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  background: var(--accent-bg);
  padding: 24px;
}

main {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 8px;
  /* overflow-x: hidden; */
  /* word-break: break-word; */
  /* overflow-wrap: break-word; */
}

footer {
  width: 75%;
  margin: 0 auto;
  margin-top: 64px;
  padding: 24px 16px;
  color: var(--text-light);
  font-size: .9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}
