/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;

  /* Here's how to do that same as above but with flexbox */
  /* To get this to work we also have to set margin-top: auto; in the footer */
  /* For this reason I prefer to grid version as I think it's easier to understand */
  /* This also assumes percentage based heights are enable in the html and body selectors */

  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100%; */
}

header {
  background: var(--accent-bg);
  padding: 24px;
}

main {
  background: var(--bg);
  width: 100%;
}

footer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  padding: 24px 16px;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}
