/*
    These defaults are a mashup between:

      https://github.com/kevquirk/simple.css

      &

      https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
  --bg: #FFF;
  --accent-bg: #F5F7FF;
  --text: #212121;
  --text-light: #585858;
  --border: #D8DAE1;
  --accent: #0D47A1;
  --accent-light: #90CAF9;
  --code: #D81B60;
  --preformatted: #444;
  --marked: #FFDD33;
  --disabled: #EFEFEF;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
 :root {
    --bg: #212121;
    --accent-bg: #2B2B2B;
    --text: #DCDCDC;
    --text-light: #ABABAB;
    --border: #666;
    --accent: #FFB300;
    --accent-light: #FFECB3;
    --code: #F06292;
    --preformatted: #CCC;
    --disabled: #111;
  }

  img, video {
    opacity: .6;
  }
}

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Set the font globally */
html {
  font-family: var(--sans-font);
} 

body {
  color: var(--text);
  background: var(--bg);
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Format headers */
h1 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h2 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h3 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h4 {
  font-size: calc(var(--base-fontsize) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h5 {
  font-size: var(--base-fontsize);
  margin-top: calc(var(--line-height) * 1.5rem);
}

h6 {
  font-size: calc(var(--base-fontsize) / var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}
